$mainColor: #232e38;

.test {
  height: auto;
  padding: 15px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: greenyellow;
  color: black;
  font-size: 24px;
  line-height: 26px;
  border-radius: 10px;
}

.test2 {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellow;
}

img {
  display: block;
  width: 200px;
  height: auto;
}
