.title {
  flex-grow: 1;
  height: 34px;
  width: auto;
  max-width: 240px;
  margin: 0 0 2px 0;
  padding: 0 12px;
  color: #777;
  background: 0 0;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: inherit;
  outline: none;
  cursor: pointer;
  transition: 0.2s all linear;
  &:hover {
    border-color: rgba(0, 0, 0, 0.1);
  }
  &:focus {
    border-color: #ccc;
    cursor: text;
  }
}
