.wrap {
  display: flex;
  flex-direction: column;
  width: 1064px;
  padding: 26px;
  background: white;
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 1px 0 rgb(0 0 0 / 10%), 3px 3px 0 #fff,
    4px 4px 0 rgb(0 0 0 / 13%), 6px 6px 0 #fff, 7px 7px 0 rgb(0 0 0 / 15%);
  -moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1), 3px 3px 0 #fff,
    4px 4px 0 rgba(0, 0, 0, 0.125), 6px 6px 0 #fff,
    7px 7px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 0 rgb(0 0 0 / 10%), 3px 3px 0 #fff,
    4px 4px 0 rgb(0 0 0 / 13%), 6px 6px 0 #fff, 7px 7px 0 rgb(0 0 0 / 15%);
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.col {
  width: calc(50% - 13px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &.col_rtl {
    align-items: flex-end;
    text-align: right;
  }
}
.number {
  margin-top: 10px;
}
.contact {
  width: 100%;
  margin-top: 15px;
}
.details {
  width: 330px;
  margin-top: 15px;
}
.list {
  width: 100%;
  margin: 30px 0;
}
.estimation {
  width: 330px;
}

@media screen and (max-width: 1399px) {
  .wrap {
    width: 884px;
  }
}

@media screen and (max-width: 1199px) {
  .wrap {
    width: 704px;
  }
  .details {
    width: 312px;
  }
  .estimation {
    width: 312px;
  }
}

@media screen and (max-width: 767px) {
  .wrap {
    width: 100%;
  }
  .row {
    flex-direction: column;
    &.row_header {
      flex-direction: row;
    }
  }
  .col {
    width: 100%;
  }
  .details {
    margin-top: 30px;
  }
  .estimation {
    margin-top: 30px;
  }
}

@media screen and (max-width: 479px) {
  .row {
    &.row_header {
      flex-direction: column;
      .col_rtl {
        align-items: flex-start;
        text-align: left;
      }
    }
  }
  .title {
    margin-top: 15px;
  }
  .details {
    width: 100%;
  }
  .estimation {
    width: 100%;
  }
}
