.body {
  display: flex;
  justify-content: center;
  padding: 30px 0 0;
  background: #f3f5f7;
}
.container {
  width: 1170px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.form {
  display: flex;
  justify-content: space-between;
  width: 916px;
  padding: 20px;
  background: white;
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 1px 0 rgb(0 0 0 / 10%), 3px 3px 0 #fff,
    4px 4px 0 rgb(0 0 0 / 13%), 6px 6px 0 #fff, 7px 7px 0 rgb(0 0 0 / 15%);
  -moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1), 3px 3px 0 #fff,
    4px 4px 0 rgba(0, 0, 0, 0.125), 6px 6px 0 #fff,
    7px 7px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 0 rgb(0 0 0 / 10%), 3px 3px 0 #fff,
    4px 4px 0 rgb(0 0 0 / 13%), 6px 6px 0 #fff, 7px 7px 0 rgb(0 0 0 / 15%);
}
.form__col {
  width: calc(50% - 10px);
  display: flex;
  flex-direction: column;
}
.form__col_rtl {
  align-items: flex-end;
}
.form__logo {
  margin: 0 0 15px 0;
}
.form__area_m {
  width: 275px;
  margin: 0 0 15px 0;
}
.form__row_s {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.form__title {
  margin: 15px 0 10px;
}
