.input {
  height: auto;
  width: 100%;
  padding: 0 15px;
  color: #232e38;
  background: 0 0;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 38px;
  line-height: 44px;
  outline: none;
  text-align: inherit;
  cursor: pointer;
  transition: 0.2s linear all;
  &:hover {
    border-color: rgba(0, 0, 0, 0.1);
  }
  &:focus {
    border-color: #ccc;
    cursor: text;
  }
}
