.header{
    display: flex;
    align-items: center;
    background: #232e38;
    border-radius: 4px;
    overflow: hidden;
}
.header__item{
    width: 120px;
    padding: 3px 12px;
    border: 0;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    border-radius: 4px;
    background: transparent;
    outline: none;
    transition: all 0.2s linear;
    &:hover{
        background: #2e3942;
    }
    &:focus{
        background: #39434c;
    }
    &.header__item_big{
        width: calc(100% - 360px);
    }
    &.header__item_rtl{
        text-align: right;
    }
}