.wrap {
  display: flex;
  align-items: center;
  background: #232e38;
  border-radius: 4px;
  overflow: hidden;
}
.item {
  width: 120px;
  padding: 3px 12px;
  margin-right: 2px;
  border: 0;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
  background: transparent;
  outline: none;
  transition: all 0.2s linear;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    background: #2e3942;
  }
  &:focus {
    background: #39434c;
  }
  &.item_big {
    width: calc(100% - 366px);
  }
  &.item_rtl {
    text-align: right;
  }
}

@media screen and (max-width: 767px) {
  .wrap {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
  }
  .item {
    width: 120px;
    padding: 3px 12px;
    margin: 0;
    &.item_big {
      width: 100%;
    }
    &:nth-child(3) {
      text-align: right;
    }
    &:last-child {
      margin-left: calc(100% - 120px);
    }
  }
}

@media screen and (max-width: 479px) {
  .item {
    width: 100px;
    &:last-child {
      margin-left: calc(100% - 100px);
    }
  }
}
