.react-datepicker__header {
  background-color: #f5f5f5;
}
.react-datepicker__navigation {
  &:hover {
    *::before {
      border-color: #10806f;
    }
  }
}
.react-datepicker__navigation-icon {
  &::before {
    border-color: #009e74;
    transition: all 0.2s linear;
  }
}
.react-datepicker__day--selected {
  background-color: #009e74;
  transition: all 0.2s linear;
  &:hover {
    background-color: #10806f;
  }
}
.react-datepicker__day--keyboard-selected {
  background-color: #009e74;
  transition: all 0.2s linear;
  &:hover {
    background-color: #10806f;
  }
}
