.container {
  margin: 5px 0 20px;
}
.select__control {
  width: 200px;
  height: 34px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer !important;
}
.select__control--is-focused {
  border-color: #009e74 !important;
  box-shadow: 0 0 0 1px #009e74 !important;
  cursor: pointer !important;
  transition: 0.2s all linear !important;
}
.select__option {
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 14px !important;
  background-color: white !important;
  &.select__option--is-selected {
    background-color: #10806f !important;
  }
  &:hover {
    color: white !important;
    background-color: #009e74 !important;
    cursor: pointer !important;
    transition: 0.2s all linear;
  }
}
