.button{
    width: 92px;
    height: 31px;
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #009e74;
    border: 0;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-family: Helvetica, Arial, sans-serif;
    box-shadow: 0 1px 0 0 rgb(22 29 37 / 10%), inset 0 1px 0 1px rgb(255 255 255 / 6%);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s all linear;
    &:hover, &:focus{
        background-color: #10806f;
    }
}
.icon{
    width: 12px;
    margin-right: 4px;
}